article.journal-entry {
    display: flex;
    position: absolute;
    left: 53%;
}

.marker {
    width: 9px;
    margin: 6px 4px 0 0;
}

article.journal-entry .main-image-container {
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    flex-shrink: 0;
    margin-right: 19px;
}

article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 0 12px 5px 0;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin: 1.2rem 0 0.5rem 0;
    margin-bottom: 5px;
}

.info-container p.trip-dates {
    font-weight: bold;
    /* margin-top: 2rem; */
}

.info-container p.entry-text {
    line-height: 1.5;
    margin: 1.1rem 4.4rem 0 0;
    text-align: justify;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


