header {
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  position: relative;
}


.header-nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  color: white;
}

.header-nav > h1{
  padding-left: 16rem;
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
}

.sub-nav-div{
  display: flex;
  column-gap: 4rem;
  font-size: 1.3rem;
  font-weight: 400;
  align-items: center;
  margin-left: 50.5rem;
  color: black;
  width: 100%;
}
.nav-con{
  display: grid;
}
.profile-pic{
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.sea-pic{
  width: 50%;
  height: 51rem;
  border-radius: 0 6% 6% 0;
  box-shadow:
    30px 10px 20px rgba(158, 136, 136, 0.11),
    10px 30px 20px rgba(158, 136, 136, 0.11);
}